<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<h1>Categories</h1>

<a href="/">Back</a>

<a href="/categories/add">Create category</a>
<table th:border="1px">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>action</th>
  </tr>

  <tr th:each="category : ${categories}">
      <td th:text="${category.getId()}"></td>
      <td th:text="${category.getName()}"></td>
      <td><a th:href="@{/categories/remove(id=${category.getId()})}">delete</a></td>
  </tr>
</table>
</body>
</html>